<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162811591295-9n87dnq2ilthgvga10sm31kgfahqs6gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162811591295-9n87dnq2ilthgvga10sm31kgfahqs6gr</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ7B7td-LAbVUoxDwwjMlxOy7S_1Qfqmc</string>
	<key>GCM_SENDER_ID</key>
	<string>162811591295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ppam.nille</string>
	<key>PROJECT_ID</key>
	<string>nille-dev-feadd</string>
	<key>STORAGE_BUCKET</key>
	<string>nille-dev-feadd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162811591295:ios:d62d8aff4e90cae4c4dd4a</string>
</dict>
</plist>